<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= @page_title || APP_CONFIG[:site_name] %></title>
        <%= stylesheet_link_tag 'web_app_theme', "themes/djime-cerulean/style" %>
        <%= stylesheet_link_tag 'base' %>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1><a href="/"><%= APP_CONFIG[:site_name] %></a> <sup><font size=\"-1\">BETA</font></sup></h1>
                <div id="user-navigation">
                    <% if logged_in? %>
                    <ul>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <%= link_to 'Logout', logout_path %>
                        </li>
                    </ul>
                    <% else %>
                    <ul>
                        <li>
                            <%= link_to 'Login', login_path %>
                        </li>
                        <li>
                            <%= link_to 'Signup', signup_path %>
                        </li>
                    </ul>
                    <% end %>
                    <div class="clear">
                    </div>
                </div>
                <%= render :partial => "shared/main_navigation" %>
            </div>
            <div id="box">
                <div id="block-messages" class="block">
                    <%= render :partial => "shared/messages" %>
                </div>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
